services:
  backend:
    build:
      context: .
      dockerfile: crates/server/Dockerfile
    ports:
      - "6019:6019"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/colang
      - JWT_SECRET=your_jwt_secret_key
      - BIND_ADDR=0.0.0.0:6019
    depends_on:
      - db
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: front/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped

  db:
    image: postgres:18
    environment:
      POSTGRES_DB: colang
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - /data/colang/pgsql:/var/lib/postgresql/data
    ports:
      - "7654:5432"
    restart: unless-stopped